<script>
import CardComp from './CardComp.vue'

export default {
  data() {
    return {
      todoId: 1,
      todoData: null,
      items: 10
    }
  },
  components: {
    CardComp
  },
  methods: {
    async fetchData() {
      this.todoData = null
      const res = await fetch(
        `https://jsonplaceholder.typicode.com/todos`
      )
      this.todoData = await res.json()
    }
  },
  mounted() {
    this.fetchData()
  },
}
</script>

<template>
  <br />
  <p>Listado</p>
  <ul>
    <li v-for="todo in todoData">
      <CardComp :id="todo.id" :title="todo.title"/>
    </li>
  </ul>
  <p v-if="!todoData">Loading...</p>
  <pre v-else>{{ todoData }}</pre>
</template>